@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import "../node_modules/@syncfusion/ej2-material-theme/styles/material.css";
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Color pallete*/
:root {
  --accent-color: #3fd0c9;
  --dark-color: #02353c;
  --light-color: #c1f5ed;
  --dark-green: #449342;
  --light-green: #2eaf7d;
  --lightest-gray: #f9f9f9;
  --light-gray: #909090;
  --medium-gray: #606060;
  --dark-gray: #0d0d0d;
  --animation-duration: 200ms;
  --animation-timing-curve: ease-in-out;
}
