nav {
  background-color: #292929;
  color: #fff;
  height: 50px;
  padding: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.copyright {
  display: inline;
  margin-bottom: 0;
}

nav a {
  color: #fff;
}
