<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Learning Platform</a>
  <button
    class="navbar-toggler collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNav()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarCollapse">
    <!--Navigation Links & Avatar Here-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active">Announcements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active">My Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/myoffice"
          >My Office</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/mydrive"
          >My Drive</a
        >
      </li>
    </ul>
  </div>
</nav>
