<header>
  <app-nav></app-nav>
</header>
<body>
  <article>
    <h2 class="article-title">Assignment 1</h2>
    <h3>Instructions</h3>
    <p>
      This is where the instructions for the the assignment would go. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Minus velit voluptas
      placeat minima doloribus voluptatibus consectetur impedit exercitationem,
      praesentium maiores, vero est provident, earum sint. Dignissimos hic quo
      non impedit!
    </p>
    <h3>Files</h3>
    <div class="files">
      <div class="file">
        <svg class="drive-icon" viewBox="0 0 16 16">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13.71 4.29l-3-3L10 1H4L3 2v12l1 1h9l1-1V5l-.29-.71zM13 14H4V2h5v4h4v8zm-3-9V2l3 3h-3z"
          />
        </svg>
        <p class="drive-name-text">MGT 400 Report.docx</p>
        <button class="file-button">
          <svg class="file-button-icon" viewBox="0 0 485 485">
            <g>
              <g>
                <path
                  d="M426.5,458h-368C51,458,45,464,45,471.5S51,485,58.5,485h368c7.5,0,13.5-6,13.5-13.5S434,458,426.5,458z"
                />
                <path
                  d="M233,378.7c2.5,2.5,6,4,9.5,4s7-1.4,9.5-4l107.5-107.5c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0L256,336.5v-323    C256,6,250,0,242.5,0S229,6,229,13.5v323l-84.4-84.4c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1L233,378.7z"
                />
              </g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </button>
      </div>
    </div>

    <table class="table table-responsive-sm table-outline mb-0">
      <thead class="thead-light">
        <tr>
          <th>Submission Status</th>
          <td>
            <label>Not submitted</label>
          </td>
        </tr>
        <tr>
          <th>Grading Status</th>
          <td>
            <label>Not graded</label>
          </td>
        </tr>
        <tr>
          <th>Due Date</th>
          <td>
            <label>24/10/2022 19:00:00</label>
          </td>
        </tr>
        <tr>
          <th>Time Remaining</th>
          <td>
            <label>17 days 51 mins 22 secs</label>
          </td>
        </tr>
        <tr>
          <th>Last Modified</th>
          <td>
            <label>Not modified</label>
          </td>
        </tr>
      </thead>
    </table>

    <h3>My Submission</h3>
    <div class="files">
      <div class="file">
        <svg class="drive-icon" viewBox="0 0 16 16">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13.71 4.29l-3-3L10 1H4L3 2v12l1 1h9l1-1V5l-.29-.71zM13 14H4V2h5v4h4v8zm-3-9V2l3 3h-3z"
          />
        </svg>
        <p class="drive-name-text">MGT 400 Report.pdf</p>
        <button class="file-button">
          <svg class="file-button-icon" viewBox="0 0 485 485">
            <g>
              <g>
                <path
                  d="M426.5,458h-368C51,458,45,464,45,471.5S51,485,58.5,485h368c7.5,0,13.5-6,13.5-13.5S434,458,426.5,458z"
                />
                <path
                  d="M233,378.7c2.5,2.5,6,4,9.5,4s7-1.4,9.5-4l107.5-107.5c5.3-5.3,5.3-13.8,0-19.1c-5.3-5.3-13.8-5.3-19.1,0L256,336.5v-323    C256,6,250,0,242.5,0S229,6,229,13.5v323l-84.4-84.4c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1L233,378.7z"
                />
              </g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </button>
        <button class="file-button">
          <svg class="file-button-icon" viewBox="0 0 473 473">
            <g>
              <path
                d="M317.667,214.42l5.667-86.42h20.951V38h-98.384V0H132.669v38H34.285v90h20.951l20,305h140.571   c23.578,24.635,56.766,40,93.478,40c71.368,0,129.43-58.062,129.43-129.43C438.715,275.019,385.143,218.755,317.667,214.42z    M162.669,30h53.232v8h-53.232V30z M64.285,68h250v30h-250V68z M103.334,403L85.301,128H293.27l-5.77,87.985   c-61.031,10.388-107.645,63.642-107.645,127.586c0,21.411,5.231,41.622,14.475,59.43H103.334z M309.285,443   c-54.826,0-99.43-44.604-99.43-99.43s44.604-99.429,99.43-99.429s99.43,44.604,99.43,99.429S364.111,443,309.285,443z"
              />
              <polygon
                points="342.248,289.395 309.285,322.358 276.322,289.395 255.109,310.608 288.072,343.571 255.109,376.533    276.322,397.746 309.285,364.783 342.248,397.746 363.461,376.533 330.498,343.571 363.461,310.608  "
              />
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </button>
      </div>
    </div>

    <p style="margin: 0; margin-top: 1rem">
      Please add your group members student ids if any separated with a comma.
      (12345, 12346, 12347)
    </p>
    <form>
      <input
        type="text"
        class="form-control mb-2"
        placeholder="12345, 12346, 12347"
      />
      <input class="form-control mb-2" type="file" />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <p class="disclaimer">
      Once you submit this assignment you can not edit it.
    </p>
  </article>
</body>
